*:focus {
    outline: none!important;
}


/* navbar */

section div a img {
    height: 140px;
    margin: 15px;
}

header {
    background-color: transparent;
    padding: 10px 15px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(128, 0, 0);
}

.navbar {
    padding: 0;
}

.navdisplay {
    top: 2%;
    display: none;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 60px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
}

.navdisplay:after,
.navdisplay:before,
.navdisplay div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5.5px;
    margin: 4px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    background-color: white;
}

.navhide {
    z-index: 1;
    border-radius: 60px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navhide:after,
.navhide:before,
.navhide div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 4px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    background-color: white;
}

.navhide:before {
    transform: translateY(9px) rotate(135deg);
}

.navhide:after {
    transform: translateY(-10px) rotate(-135deg);
}

.navhide div {
    transform: scale(0);
}

.navbar-brand img {
    width: 60px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar-brand i {
    font-weight: 600;
    color: maroon;
    font-size: xx-large;
}

.navbar-nav button {
    font-size: large;
    background: none;
    border: none;
    margin: 5px;
    color: white;
    font-weight: 600;
    margin: 15px;
}

.social-media {
    height: fit-content;
    margin: auto;
    margin-right: 0;
}

header .btn {
    padding: 5px;
    color: white;
}

.social-media * {
    font-size: x-large;
}

header div.container {
    flex-wrap: wrap;
}

@media screen and (max-width:766px) {
    .setwidth {
        width: 100vw;
        padding: 0px;
    }
    .header-dark {
        background-color: rgba(128, 0, 0, 0.4);
        padding: 10px 15px 0px 15px;
        position: fixed;
        top: 0!important;
        z-index: 1;
    }
    .navdisplay {
        display: block;
    }
}


/* main body */

.carousel-inner img,
.carousel-inner .container {
    z-index: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70vh;
}

.carousel-inner * {
    color: black;
}

.carousel {
    z-index: 0;
    height: 80vh;
}

.carousel-inner .container-fluid:nth-child(1) .container {
    background-image: url(../images/home/1.jpg);
}

.carousel-caption-position {
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
}

.welcome {
    text-align: center;
}


/* flip card */

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 50vh;
    perspective: 1000px;
    padding: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transition-delay: 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.flip-card-front img:hover {
    opacity: 0.4;
    transition: 0.5s;
}

.flip-card-front {
    background-color: black;
    color: black;
    z-index: 2;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
}

.flip-card-back button {
    border: none;
    font-size: x-large;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: 5px;
}

.flip-card-front h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* footer */

footer {
    text-align: center;
    background-color: #800000;
    padding: 15px 0px;
}

footer .social-media * {
    font-size: xxx-large;
    margin: 2px;
}

footer p {
    margin-bottom: 0px;
}

footer * {
    color: white;
}


/* Contact Us */

form {
    text-align: center;
}

form span {
    color: red;
    margin: 5px;
    font-size: xx-large;
}

input {
    width: 90%;
    border: none;
    border: 1px solid rgb( 220, 220, 220);
    border-bottom: 2px solid #102452;
    margin: 2vh 0vh;
    padding: 2vh;
}

.name {
    width: 45%;
}

input:focus {
    /* box-shadow: inset 0 0 8px 1px rgb(126, 121, 121); */
    border-bottom: 4px solid #102452;
}

textarea {
    border: 1px solid rgb(220, 220, 220);
    border-bottom: 2px solid #102452;
    width: 90%;
    height: 30vh;
    padding: 2vh;
    margin: 2vh 0vh;
    font-weight: bold;
}

a:hover,
a {
    text-decoration: none;
    color: #f87060;
}

iframe {
    height: 450px;
    width: 600px;
}

#heading {
    text-align: left;
    font-weight: bold;
    margin: 0vh;
    padding: 15px;
}

#heading2 {
    text-align: center;
    font-weight: bold;
    margin: 2.5vh;
}

.address {
    margin: 15px 0px;
}

.map {
    padding: 7px;
    margin: 15px 0px;
}

.error {
    visibility: hidden;
}

@media screen and (max-width:766px) {
    input {
        width: 85%;
        border: none;
        border-bottom: 2px solid #102452;
        margin: 0;
        padding: 2.5%;
    }
    .error {
        visibility: visible;
    }
    .name {
        width: 85%;
        margin-left: 0%;
    }
    iframe {
        width: 90vw;
        height: 67.5vw;
    }
}